# Import Headers

In [1]:
from langchain_openai import ChatOpenAI
from langchain_community.vectorstores import Chroma
from langchain.prompts import FewShotPromptTemplate
from langchain.prompts.prompt import PromptTemplate
from langchain.prompts.example_selector import SemanticSimilarityExampleSelector
from langchain_community.embeddings import HuggingFaceEmbeddings
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt
from dotenv import load_dotenv
import os

load_dotenv()

True

# Setup LLM

In [2]:
api_key = os.getenv("OPENAI_API_KEY")
llm = ChatOpenAI(model_name="gpt-3.5-turbo", temperature=0)

response = llm.invoke("Write a SQL query to get top 5 customers by sales. keep it short")
print(response.content)

SELECT customer_id, SUM(sales_amount) as total_sales
FROM sales
GROUP BY customer_id
ORDER BY total_sales DESC
LIMIT 5;

# Connect With Database

In [3]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "root"
db_host = "localhost"
db_name = "tshirts"

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)

print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Nike	Blue	L	40	51
2	Van Huesen	White	L	17	12
3	Nike	Red	S	17	21
*/

______________

# Ask questions with Zero shot learning

In [4]:
from langchain.agents import create_sql_agent

sql_agent = create_sql_agent(llm, db=db, agent_type="zero-shot-react-description", handle_parsing_errors=True) # set verbose=True to check how it thinks

## Question 1

In [5]:
q1 = sql_agent.invoke("How many t-shirts do we have left for Nike in extra small size and white color?")
print(q1)

{'input': 'How many t-shirts do we have left for Nike in extra small size and white color?', 'output': '0'}

- ##### `1` is incorrect. The correct answer is `25`.  
--

## Question 2

In [6]:
q2 = sql_agent.invoke("How much is the price of the inventory for all small size t-shirts?")
print(q2)

{'input': 'How much is the price of the inventory for all small size t-shirts?', 'output': '$13,429'}

- ##### `305` is wrong. The correct answer is `$13,429`.  
--

# Question 3

In [7]:
q3 = sql_agent.invoke("If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?")
print(f"Input:\n{q3['input']}\nOutput:\n{q3['output']}")

Input:
If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?
Output:
$1212.60

- ##### `$1,212.60` is incorrect. The correct answer is `$12,147$`.  
--

# Question 4

In [8]:
q4 = sql_agent.invoke("What is the total value of Levi’s T-shirts we have in stock?")
print(q4)

{'input': 'What is the total value of Levi’s T-shirts we have in stock?', 'output': '$12,956'}

- ##### `$28.20` is incorrect. The correct answer is `$12,946`.  
--

# Question 5

In [9]:
q5 = sql_agent.invoke("How many white color Levi's t shirts we have available?")
print(q5)

{'input': "How many white color Levi's t shirts we have available?", 'output': '2'}

- ##### `2` is incorrect. The correct answer is `5`.

_____________________

# Provide correct SQL queries and get the results

In [10]:
q1 = sql_agent.invoke("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'")
q2 = sql_agent.invoke("SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'")
q3 = sql_agent.invoke("""
    select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
    (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
    group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
     """)
q4 = sql_agent.invoke("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")
q5 = sql_agent.invoke("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

print(f"Q1 Output: {q1}")
print(f"Q2 Output: {q2}")
print(f"Q3 Output: {q3}")
print(f"Q4 Output: {q4}")
print(f"Q5 Output: {q5}")

Q1 Output: {'input': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'", 'output': '25'}
Q2 Output: {'input': "SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'", 'output': "The total value of size 'S' t-shirts in stock is $13,429."}
Q3 Output: {'input': "\n    select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from\n    (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'\n    group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id\n     ", 'output': '$12,147.60'}
Q4 Output: {'input': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'", 'output': '$12,956'}
Q5 Output: {'input': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'", 'output': '43'}

__________________

# Few Shot Learning

In [11]:
few_shots = [
    {
      'Question' : "How many t-shirts do we have left for Nike in XS size and white color?",
      'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
      'SQLResult': "Result of the SQL query",
      'Answer' : q1
     },
    {
      'Question': "How much is the total price of the inventory for all S-size t-shirts?",
      'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
      'SQLResult': "Result of the SQL query",
      'Answer': q2
    },
    {
      'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
      'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
                   (select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
                   group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
                   """,
      'SQLResult': "Result of the SQL query",
      'Answer': q3
    },
    {
      'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : q4
    },
    {
      'Question': "How many white color Levi's shirt I have?",
      'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
      'SQLResult': "Result of the SQL query",
      'Answer' : q5
    }
]

# Create Vector Database

In [28]:
embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

texts = [d["Question"] for d in few_shots] # extracts all the questions and store it as a list

metadatas = [
    {
        "Question": d["Question"], 
        "sql": d["SQLQuery"],
        "sql_result": d["SQLResult"],
        "answer_output": d["Answer"]["output"]
    }
    for d in few_shots
]

vectorstore = Chroma.from_texts(
    texts=texts,
    embedding=embeddings,
    metadatas=metadatas
)

# Semantic Similarity Example Selector

In [30]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2
)

# Let's pull two similar questions from vector db to the following example.
example_selector.select_examples({"Question": "How many Adidas T shirts I have left in my store?"})

[{'sql_result': 'Result of the SQL query',
  'answer_output': '25',
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'answer_input': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'sql': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'"},
 {'answer_output': '25',
  'sql': "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
  'Question': 'How many t-shirts do we have left for Nike in XS size and white color?',
  'sql_result': 'Result of the SQL query'}]

### Few Shot Prompt Template

In [ ]:
from langchain.prompts import FewShotPromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "sql", "sql_result", "answer_output"],
    template="""Question: {Question}
SQLQuery: {sql}
SQLResult: {sql_result}
Answer: {answer_output}"""
)

few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    suffix="Question: {input}\nSQLQuery:",
    input_variables=["input"]
)

final_prompt = few_shot_prompt.format(input="How many Adidas T shirts I have left in my store?")
print(final_prompt)

Question: How many t-shirts do we have left for Nike in XS size and white color?
SQLQuery: SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: Result of the SQL query
Answer: 25

Question: How many t-shirts do we have left for Nike in XS size and white color?
SQLQuery: SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: Result of the SQL query
Answer: 25

Question: How many Adidas T shirts I have left in my store?
SQLQuery: